<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>50000</particles>
  <batches>5</batches>
  <source particle="neutron" strength="1.0" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>0.0 1.0</parameters>
      </r>
      <phi parameters="0.0 6.283185307179586" type="uniform"/>
      <z parameters="-600.0 600.0" type="uniform"/>
    </space>
    <angle type="isotropic"/>
    <energy type="discrete">
      <parameters>14000000.0 1.0</parameters>
    </energy>
  </source>
  <output>
    <tallies>false</tallies>
  </output>
  <state_point>
    <batches>1 3 5</batches>
  </state_point>
  <photon_transport>true</photon_transport>
  <weight_windows_on>true</weight_windows_on>
  <weight_window_checkpoints>
    <collision>true</collision>
    <surface>true</surface>
  </weight_window_checkpoints>
</settings>
