<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>100000</particles>
  <batches>10</batches>
  <source particle="neutron" strength="1.0" type="independent">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>0.0 1.0</parameters>
      </r>
      <phi parameters="0.0 6.283185307179586" type="uniform"/>
      <z parameters="-230 100" type="uniform"/>
    </space>
    <energy type="discrete">
      <parameters>14100000.0 1.0</parameters>
    </energy>
  </source>
</settings>
